.loader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader span {
    width: 6px;
    height: 15px;
    margin: 0 7px;
    background: #2196f3;
    animation: animate 1.4s linear infinite;
    opacity: 0;
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
        opacity: 0 !important;
        transform: translateX(-50px) scale(1);
    }
    50% {
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        opacity: 1;
        transform: translateX(0px) scale(1.2);
    }
    100% {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
        opacity: 0;
        transform: translateX(50px) scale(1);
    }
}

.loader span:nth-child(1) {
    animation-delay: 0s;
}

.loader span:nth-child(2) {
    animation-delay: 0.1s;
}

.loader span:nth-child(3) {
    animation-delay: 0.2s;
}

.loader span:nth-child(4) {
    animation-delay: 0.3s;
}

.loader span:nth-child(5) {
    animation-delay: 0.4s;
}

.loader span:nth-child(6) {
    animation-delay: 0.5s;
}

.loader span:nth-child(7) {
    animation-delay: 0.6s;
}

/* ul {
    justify-content: center;
    align-items: center;
} */

.btnLoader {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 50%;
    margin-right: 20%;
}

.btnLoader li {
    margin: 2px;
    width: 10px;
    height: 10px;
    background: #36ffc1;
    border-radius: 50%;
    animation: loader 0.6s ease-in-out infinite alternate;
}

.btnLoader li:nth-child(2) {
    animation-delay: 0.2s;
}
.btnLoader li:nth-child(3) {
    animation-delay: 0.4s;
}
.btnLoader li:nth-child(4) {
    animation-delay: 0.6s;
}
.btnLoader li:nth-child(5) {
    animation-delay: 0.8s;
}
.btnLoader li:nth-child(6) {
    animation-delay: 1s;
}

@keyframes loader {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-1em);
    }
}